
application:
  quote:
    url: "https://gturnquist-quoters.cfapps.io/api/random"

spring:
  flyway:
    locations: "classpath:db/migration/default"
  data:
    mongodb:
      uri: mongodb://mongo-db:27017/spring-boot-demo
  datasource:
    jdbc-url: jdbc:postgresql://postgres-db:5432/spring-boot-demo
    driver-class-name: org.postgresql.Driver
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASS}
  jpa:
    open-in-view: false
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect

server:
  servlet:
    contextPath: /springboot-demo
  port: 8080

logging:
  level:
    root: INFO


