
application:
  quote:
    url: "https://gturnquist-quoters.cfapps.io/api"

spring:
  flyway:
    locations: "classpath:db/migration/default"
  data:
    mongodb:
      uri: mongodb://${MONGO_USER}:${MONGO_PASS}@localhost:27017/spring-boot-demo
      authentication-database: spring-boot-demo
  datasource:
    jdbc-url: jdbc:postgresql://localhost:5432/spring-boot-demo
    driver-class-name: org.postgresql.Driver
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASS}
  jpa:
    open-in-view: false
    show-sql : true
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
    hibernate:
      ddl-auto: none

server:
  servlet:
    contextPath: /springboot-demo
  port: 8080

logging:
  level:
    root: INFO


