<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.type" level="ERROR" />
    <logger name="com.zaxxer" level="ERROR"/>
    <logger name="io.swagger" level="ERROR"/>
    <logger name="io.lettuce" level="ERROR"/>

    <logger name="org.testcontainers" level="ERROR"/>
    <logger name="com.github.dockerjava" level="ERROR"/>
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF"/>
</configuration>